[submodule "sglib"]
	path = sglib
	url = https://github.com/palantir0/sglib
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/palantir0/cJSON
[submodule "libwebsockets"]
	path = libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
